<!doctype html>

<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    {% if title %}
    <title> {{ title }} - By Blog </title>
    {% else %}
    <title> Welcome to Inclusivision! </title>
    {% endif %}
</head>

<body>
    <div>Inclusivion:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% block content %} {% endblock %}
</body>

</html>