{% extends "base.html" %}

{% block content %}
<h2>Register</h2>
<div class="login-register">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <label>{{ form.username.label }}</label><br>
        {{ form.username(size=32, class="form-input") }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        <br>
        <label>{{ form.email.label }}</label><br>
        {{ form.email(size=64, class="form-input") }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        <br>
        <label>{{ form.password.label }}</label><br>
        {{ form.password(size=32, class="form-input") }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        <br>
        <label>{{ form.password2.label }}</label><br>
        {{ form.password2(size=32, class="form-input") }}<br>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        <br>{{ form.submit(class="form-submit") }}<br>
    </form>
    {% endblock %}
</div>